fastapi==0.115.12
uvicorn[standard]==0.34.3
fastapi-socketio==0.0.10
pydantic>=2.7.0
python-multipart
pymysql
cryptography
bcrypt
PyJWT>=2.8.0
# TTS module
edge-tts>=7.2.0
piper-tts>=1.2.0
aiofiles==24.1.0
requests==2.32.3
slowapi==0.1.9
